<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  </head>
  <body>
    <main class="page-content" aria-label="Content">
      {{ content }}
      <div class="logo-container">
        <img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="OUMNIK Studio Logo" class="bottom-logo">
      </div>
      <a href="mailto:main@oumnik.studio" class="email-link">main@oumnik.studio</a>
    </main>
  </body>
</html>